<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2 class="text-center">About Us</h2>
            <hr />
            <p>
               Welcome to Sho3lat Fikr web Site, In this site you will see a several sections and what you see depands on who you are an admin or a (user/a club member) in our Arab American University Sho3lat Fikr Club,
               So that the admins can see all of the pages which it is: Book_Authors, Libraries that Published the Books and all this pages that the common users see and use.<br /><br />

               In the Books Page all Users have the ability to see the list of Books that we added in the section that we can call Sho3lat_Fikr library and you can download this book that you liked as a PDF "This furthur will be applied soon" so and so you can search for a specific book to minimize the searching time.<br /><br />

            </p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <img src="~/Images/Club.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>About us in Arabic " حول النادي بالعربية "</h3>

                <p>

                    ستغيب يوماً ويبقى الأثر، فاجعل لنفسك أثراً حسناً" 
                    تمّ بحمد الله اعتمادنا ك"نادي شعلة فكر الثّقافي" من قِبَل عمادة شؤون الطلبة في الجامعةالعربية الأمريكية-جنين 
                    بهيئته الإدارية : 
                    <br />
                    <ul>
                         <li>
                             رئيس النادي : أسيد ربايعة
                         </li>
                         <li>
                             نائبة الرئيس : مرح صلاحات
                         </li>
                         <li>
                             مسؤول العلاقات العامة : أمجد أبو سمرة
                         </li>
                         <li>
                             مسؤول المالية : شعيب جادالله
                         </li>
                         <li>
                             مسؤول اللجنة الثقافية: هاني صقر
                         </li>
                         <li>
                             مسؤولة اللجنة الاجتماعية : رغد المصري
                         </li>
                    </ul>
                    ولن ننسى بالذكر أولئك الجنود الذي ساهموا في إنجاح هذا النادي ووضعوا الشعلة نصب عينيهم، كلٌ بلقبه من شاعر وكاتب وعضو فعال، جسدٌ واحد حتى النجاح🤍
                </p>
               
            </div>
        </div>

    </div>
</section>