@{
    ViewData["Title"] = "Contact Us";
}

<section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <h2 class="text-center">Contact Us</h2>
            <hr />
            <p class="text-center"><strong>To provide us your review, Select a type of connection that you want downbelow.</strong></p>
        </div>
    </div>
    <div>
        <img style="border:0; width: 100%; height: 500px;" src="~/Images/AAUP_Pic.png" class="border" frameborder="0" allowfullscreen></img>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <div class="info-box">
                            <i class="bx bx-map"></i>
                            <h4>Our Address</h4>
                            <p>ArabAmerican-University, Zababdeh, Jenin, Palestine</p>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <hr />
                        <div class="info-box mt-4">
                            <i class="bx bx-envelope"></i>
                            <h4>Email</h4>
                            <p>Sho3la.info@gmail.com<br>Shoaib.jadallah@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <hr />
                        <div class=" info-box mt-4">
                            <h4>Instagram</h4>
                            <a class="btn btn-outline-primary bi bi-pencil-squara" href="https://www.instagram.com/sho3lat_fikr/">Sho3lat Fikr.Instagram</a>
                            <h4>Facebook</h4>
                            <a class="btn btn-outline-primary bi bi-pencil-squara" href="https://www.facebook.com/sho3lat.fikr">Sho3lat Fikr.Facebook</a>
                        </div>
                    </div>
                    
                    <div> 
                        <hr />
                        <h4>In case that if you want to join in our Club - Sho3lat_Fikr_Club - Fill the form downbelow. </h4>
                        <a class="btn btn-outline-primary bi bi-pencil-squara" href="https://docs.google.com/forms/d/1cQkmHO-VZiPTOB18zqj14eUdUsamTgkRpDF5305rdX0/viewform?fbclid=IwAR1Mqr-C_UPp1PMYpXfwZf27rIcNLOd4K-YKbtiiYd6Ks9hhDC2RUDWtP-g&edit_requested=true">Form To Fill</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr />